html {
  height: 100vh;
}

#keyboard-container {
  width: 100%;
  height: 270px;
  background-color: rgb(94, 94, 94);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-row {
  height: 50px;
}

.key-box {
  width: 70px;
  height: 50px;
  cursor: pointer;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#space-key {
  width: 400px;
}
#backspace-key {
  width: 100px;
}
#caps-key {
  width: 100px;
}
#enter-key {
  width: 130px;
}
#shift-key {
  width: 100px;
}
